<!DOCTYPE html>
<html>
<head>
  <title>PWA LocalStorage Test App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= render 'layouts/pwa' %>
  <%= render 'layouts/favicon' %>
  <%= render 'layouts/mobile' %>
  <%= render 'layouts/apple' %>
  <%= render 'layouts/ms' %>

</head>

<body>
<%= yield %>
</body>
</html>
